.prLO {
    margin-right: 5px;
}

.fa-medapps {
    margin-right: 5px;
}

.fa-file-lines {
    margin-right: 5px;
}

.fa-bookmark {
    margin-right: 5px;
}

.fa-gear {
    margin-right: 5px;
}

.fa-plus {
    margin-right: 5px;
}

.fa-house {
    margin-right: 5px;
}